<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621258219132-ic5g3pk77scq834v9b6aj77gohpjttip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621258219132-ic5g3pk77scq834v9b6aj77gohpjttip</string>
	<key>API_KEY</key>
	<string>AIzaSyDGN-LW5s5r-43C-TLyLqIgItcn5ZABkTA</string>
	<key>GCM_SENDER_ID</key>
	<string>621258219132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Skebob.MyInvestor</string>
	<key>PROJECT_ID</key>
	<string>myinvestor-26ec5</string>
	<key>STORAGE_BUCKET</key>
	<string>myinvestor-26ec5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621258219132:ios:6ce8905a78b594f03973f9</string>
</dict>
</plist>