# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
project.xcworkspace/xcuserdata/

# Build results
build/
DerivedData/

# Swift Package Manager
.swiftPM/
Packages/

# Various
*.log
*.swp
*.swo
*~
.DS_Store
.CVS
.SVN
CVS/
.svn/

# Environment
.env
config.plist

# Secrets
Secrets.plist
LocalConfig.plist
